.white,
.border,
.darkBorderBg,
.glow {
  max-height: 46px;
  max-width: 280px;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  border-radius: 12px;
  filter: blur(3px);
}

.input {
  background-color: rgba(5, 8, 22, 0.9);
  border: none;
  width: 268px;
  height: 42px;
  border-radius: 10px;
  color: white;
  padding-inline: 44px 40px;
  font-size: 14px;
}

.poda {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input::placeholder {
  color: #8e8a9c;
}

.input:focus {
  outline: none;
}

.main:focus-within .inputMask {
  display: none;
}

.inputMask {
  pointer-events: none;
  width: 80px;
  height: 16px;
  position: absolute;
  background: linear-gradient(90deg, transparent, #050816);
  top: 13px;
  left: 52px;
}

.pinkMask {
  pointer-events: none;
  width: 26px;
  height: 16px;
  position: absolute;
  background: #cf30aa;
  top: 8px;
  left: 4px;
  filter: blur(16px);
  opacity: 0.7;
  transition: all 2s;
}
.main:hover .pinkMask {
  opacity: 0;
}

.white {
  max-height: 39px;
  max-width: 273px;
  border-radius: 10px;
  filter: blur(2px);
}
.white::before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(83deg);
  position: absolute;
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-position: 0 0;
  filter: brightness(1.4);
  background-image: conic-gradient(
    rgba(0, 0, 0, 0) 0%,
    #a099d8,
    rgba(0, 0, 0, 0) 8%,
    rgba(0, 0, 0, 0) 50%,
    #dfa2da,
    rgba(0, 0, 0, 0) 58%
  );
  transition: all 2s;
}

.border {
  max-height: 36px;
  max-width: 270px;
  border-radius: 11px;
  filter: blur(0.5px);
}
.border::before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(70deg);
  position: absolute;
  width: 400px;
  height: 400px;
  filter: brightness(1.3);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(
    #1c191c,
    #402fb5 5%,
    #1c191c 14%,
    #1c191c 50%,
    #cf30aa 60%,
    #1c191c 64%
  );
  transition: all 2s;
}

.darkBorderBg {
  max-height: 42px;
  max-width: 278px;
}
.darkBorderBg::before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(82deg);
  position: absolute;
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(
    rgba(0, 0, 0, 0),
    #18116a,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0) 50%,
    #6e1b60,
    rgba(0, 0, 0, 0) 60%
  );
  transition: all 2s;
}

.poda:hover .darkBorderBg::before {
  transform: translate(-50%, -50%) rotate(-98deg);
}
.poda:hover .glow::before {
  transform: translate(-50%, -50%) rotate(-120deg);
}
.poda:hover .white::before {
  transform: translate(-50%, -50%) rotate(-97deg);
}
.poda:hover .border::before {
  transform: translate(-50%, -50%) rotate(-110deg);
}

.poda:focus-within .darkBorderBg::before {
  transform: translate(-50%, -50%) rotate(442deg);
  transition: all 4s;
}
.poda:focus-within .glow::before {
  transform: translate(-50%, -50%) rotate(420deg);
  transition: all 4s;
}
.poda:focus-within .white::before {
  transform: translate(-50%, -50%) rotate(443deg);
  transition: all 4s;
}
.poda:focus-within .border::before {
  transform: translate(-50%, -50%) rotate(430deg);
  transition: all 4s;
}

.glow {
  overflow: hidden;
  filter: blur(26px);
  opacity: 0.35;
  max-height: 90px;
  max-width: 310px;
}
.glow::before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(60deg);
  position: absolute;
  width: 700px;
  height: 700px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(
    #000,
    #402fb5 5%,
    #000 38%,
    #000 50%,
    #cf30aa 60%,
    #000 87%
  );
  transition: all 2s;
}

.filterIcon {
  position: absolute;
  top: 4px;
  right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  max-height: 34px;
  max-width: 32px;
  height: 100%;
  width: 100%;
  isolation: isolate;
  overflow: hidden;
  border-radius: 9px;
  background: linear-gradient(180deg, #161329, black, #1d1b4b);
  border: 1px solid transparent;
  cursor: none;
}
.filterBorder {
  height: 36px;
  width: 34px;
  position: absolute;
  overflow: hidden;
  top: 3px;
  right: 3px;
  border-radius: 9px;
}
.filterBorder::before {
  content: "";
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  position: absolute;
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-position: 0 0;
  filter: brightness(1.35);
  background-image: conic-gradient(
    rgba(0, 0, 0, 0),
    #3d3a4f,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 50%,
    #3d3a4f,
    rgba(0, 0, 0, 0) 100%
  );
  animation: glowRotate 4s linear infinite;
}
@keyframes glowRotate {
  100% {
    transform: translate(-50%, -50%) rotate(450deg);
  }
}

.main {
  position: relative;
}
.searchIcon {
  position: absolute;
  left: 16px;
  top: 12px;
  pointer-events: none;
}

.results {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 280px;
  z-index: 30;
  overflow: hidden;
  border-radius: 14px;
}
